<div class="vendorReg">
  <div class="container-fluid">
    <div class="mid">
      <h1 style="color:white" class="text-center">Dashboard</h1>
      <div class="hotels">
        <div class="profile">
          <div class="row">
            <div class="col-sm-3">
              <h3>Personal Details</h3>
              <p><b>First Name : </b>{{data.firstname}}</p>
              <p><b>Last Name : </b>{{data.lastname}}</p>
              <p><b>Email Id : </b>{{data.email}}</p>
              <p><b>Mobile Number : </b>{{data.number}}</p>
            </div>
            <div class="col-sm-3">
              <h3>Seller Details</h3>
              {{#if data.businessLegalName}}
              <p><b>Business Legal Name : </b>{{data.businessLegalName}}</p>
              <p><b>Shop Name : </b>{{data.shopName}}</p>
              <p><b>Address : </b>{{data.sellerAddress}}</p>
              <button type="button" id="" class="btn btn-primary" data-toggle="modal" data-target="#sellerDetailsModal">Edit Seller Details</button>
              {{else}}
              <button type="button" id="" class="btn btn-primary" data-toggle="modal" data-target="#sellerDetailsModal">Add Seller Details</button>
              {{/if}}
            </div>
            <div class="col-sm-3">
              <h3>Tax Details</h3>
              {{#if data.PAN}}
              <p><b>PAN Card : </b>{{data.PAN}}</p>
              <p><b>VAT : </b>{{data.VAT}}</p>
              <p><b>TIN : </b>{{data.TIN}}</p>
              <p><b>GSTIN : </b>{{data.GSTIN}}</p>
              <button type="button" id="" class="btn btn-primary" data-toggle="modal" data-target="#taxDetailsModal">Edit Tax Details</button>
              {{else}}
              <button type="button" id="" class="btn btn-primary" data-toggle="modal" data-target="#taxDetailsModal">Add Tax Details</button>
              {{/if}}
            </div>
            <div class="col-sm-3">
              <h3>Account Details</h3>
              {{#if data.accountName}}
              <p><b>Account Name : </b>{{data.accountName}}</p>
              <p><b>Account Number : </b>{{data.accountNumber}}</p>
              <p><b>Branch Name : </b>{{data.branchName}}</p>
              <p><b>IFSC Code : </b>{{data.IFSC}}</p>
              <button type="button" id="" class="btn btn-primary" data-toggle="modal" data-target="#accountDetailsModal">Edit Tax Details</button>
              {{else}}
              <button type="button" id="" class="btn btn-primary" data-toggle="modal" data-target="#accountDetailsModal">Add Tax Details</button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="hotels text-center" style="margin-top:10px;">
      <h3><b>To add your product</b></h3>
      <div class="row">
        <div class="col-sm-6">
          <h4><b>Step-1</b> Select PRODUCT CATEGORY</h4>
        </div>
        <div class="col-sm-6">
        <h4>Step-2</b> Click on ADD PRODUCT button</h4>
        </div>
      </div>
      <form class="form-inline" action="/dashboard/productForm" method="post">
        <input type="hidden" name="vendor" value="{{data.vendorId}}">
        <div class="form-group">
        <label for="productCategory">Product Category</label>
      <select id="prodCategory" name="prodCategory" class="form-control">
        <option value="mobileandaccess">Mobile and accessories</options>
        <option value="computerandaccess">Computer and acceessories</options>
        <option value="camerasandaccess">Cameras and accessories</options>
        <option value="clothingandaccess">Clothing and acceessories</options>
   <!-- <option value="hotels">Hotels</options>
        <option value="babyProduct">baby product</options>
        <option value="books">books</options>
        <option value="">consumer electronic</options>
        <option value="">fine art</options>
        <option value="">furniture</options>
        <option value="">grocery and gourmet food</options>
        <option value="">handbages</options>
        <option value="">health and personal care</options>
        <option value="">home and garden</options>
        <option value="">industrial and scientific supply</options>
        <option value="">jewelry</options>
        <option value="">kindle accessories</options>
        <option value="">kitchen</options>
        <option value="">luggage and travel accessories</options>
        <option value="">movies and DVD</options>  -->
      </select>
      </div>
      <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
    </div>

     <div class="hotels" style="margin-top:10px">
       <h3 class="text-center"><b>Your Products Will Appear Here</b></h3>
       <div class="entry">
      {{#if products}}
       {{#each products}}
       <a id="showEdit" data-toggle="modal" data-target="#addHotel" >
        <div class="hotelCard">
           <div class="row">
           <div class="col-sm-7">
           <img class="img-thumbnail" src="" onerror="" height="120px" width="100px">
           <img class="img-thumbnail" src="" onerror="" height="120px" width="100px">
           <img class="img-thumbnail" src="" onerror="" height="120px" width="100px">
           <img class="img-thumbnail" src="" onerror="" height="120px" width="100px">
           <img class="img-thumbnail" src="" onerror="" height="120px" width="100px">
           </div>
         <div class="col-sm-5">
           <p><b>Product Name : </p>
           <p><b>Model : </b></p>
           <p><b>Description : </b></p>
         </div>
       </div>
       </div>
      </a>
       {{/each}}
      {{else}}
      <h4 class="text-center">No Products Added Yet...</h4>
      <a id="showEdit" data-toggle="modal" data-target="#demoProduct"
      data-productname="Demo Product"
      data-model="Demo Model"
      data-brand="Demo Brand"
      data-quantity="123"
      data-manufacturer="Demo manufacturer"
      data-productcategory="Demo Category"
      data-productdescription="Demo Description"
      >
       <div class="hotelCard">
          <div class="row">
          <div class="col-sm-7">
          <img class="img-thumbnail" src="/images/product_Icon.png"  height="120px" width="100px">
          <img class="img-thumbnail" src="/images/product_Icon.png"  height="120px" width="100px">
          <img class="img-thumbnail" src="/images/product_Icon.png"  height="120px" width="100px">
          <img class="img-thumbnail" src="/images/product_Icon.png"  height="120px" width="100px">
          <img class="img-thumbnail" src="/images/product_Icon.png"  height="120px" width="100px">
          </div>
        <div class="col-sm-5">
          <p><b>Product Name : </b>Demo Product</p>
          <p><b>MRP : </b>100</p>
          <p><b>Stock : </b>20</p>
        </div>
      </div>
      </div>
     </a>

      {{/if}}
      </div>
     </div>


   </div>
  </div>
</div>

<!-- demo Products Modal -->
<div id="demoProduct" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Register Your Product With Us</h4>
      </div>
      <div class="modal-body">
        <div class="products">
          <form method="" action="" name="editProduct" enctype="multipart/form-data">
            <input type="hidden" name="id" value="">
              <div class="form-group row">
              <div class="col-sm-4">
                <input type="text" class="form-control" name="productName" placeholder=" Product Name ">
                <button type="button" id="pedit1" title="Click to Edit" ><span class="glyphicon glyphicon-edit"></span></button>
              </div>
              <div class="col-sm-4 ">
                <input type="text" class="form-control" name="model" placeholder=" Model">
                <button type="button" id="pedit2" title="Click to Edit" ><span class="glyphicon glyphicon-edit"></span></button>
              </div>
              <div class="col-sm-4 ">
                <input type="text" class="form-control" name="brand" placeholder=" Brand ">
                <button type="button" id="pedit3" title="Click to Edit" ><span class="glyphicon glyphicon-edit"></span></button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                <input type="number" class="form-control" style="margin:0px;" name="quantity" placeholder=" Stock ">
                <button type="button" id="pedit4" title="Click to Edit"><span class="glyphicon glyphicon-edit"></span></button>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="manufacturer" placeholder=" Manufacturer ">
                <button type="button" id="pedit5" title="Click to Edit" ><span class="glyphicon glyphicon-edit"></span></button>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="productCategory" placeholder=" Category ">
                <button type="button" id="pedit6" title="Click to Edit" ><span class="glyphicon glyphicon-edit"></span></button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <textarea class="form-control" name="productDescription" id="productDescription" placeholder="Enter Product description">
                </textarea>
                <button type="button" id="pedit7" title="Click to Edit" ><span class="glyphicon glyphicon-edit"></span></button>
              </div>
            </div>
            <h3>Upload Product Images</h3>
            <div class="form-group row">
              <div class="col-sm-4">
                <label for="image1">Image 1</label>
                <div class="file btn btn-primary btn-md" style="position:relative;overflow:hidden;">Upload
                  <input type="file" class="form-control-file" style="" name="image1" >
                </div>
              </div>
              <div class="col-sm-4">
                <label for="image2">Image 2</label>
                <div class="file btn btn-primary btn-md" style="position:relative;overflow:hidden;">Upload
                  <input type="file" class="form-control-file" name="image2" >
                </div>
              </div>
              <div class="col-sm-4">
                <label for="image3">Image 3</label>
                <div class="file btn btn-primary btn-md" style="position:relative;overflow:hidden;">Upload
                  <input type="file" class="form-control-file" name="image3">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                <label for="image4">Image 4</label>
                <div class="file btn btn-primary btn-md" style="position:relative;overflow:hidden;">Upload
                  <input type="file" class="form-control-file" name="image4">
                </div>
              </div>
              <div class="col-sm-4">
              </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>


<!-- ADD Seller Details Modal -->
<div id="sellerDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Seller Details</h4>
      </div>
      <div class="modal-body">
        <form action="" method="" id="sellerDetailsform">
          <div class="form-group">
            <label for="businessLegalName">Business Legal Name</label>
            <input type="text" class="form-control" id="businessLegalName" name="businessLegalName" required>
          </div>
          <div class="form-group">
            <label for="shopName">Shop Name</label>
            <input type="text" class="form-control" id="shopName" name="shopName" required>
          </div>
          <div class="form-group">
            <label for="sellerAddress">Address</label>
            <input type="text" class="form-control" id="sellerAddress" name="sellerAddress" required>
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary col-sm-11">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>

<!-- ADD Tax Details Modal -->
<div id="taxDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Tax Details</h4>
      </div>
      <div class="modal-body">
        <form action="" method="" id="taxDetailsform">
          <div class="form-group">
            <label for="pan">PAN Card</label>
            <input type="text" class="form-control" id="pan" required>
          </div>
          <div class="form-group">
            <label for="vat">VAT</label>
            <input type="text" class="form-control" id="vat" required>
          </div>
          <div class="form-group">
            <label for="tin">TIN</label>
            <input type="text" class="form-control" id="tin" required>
          </div>
          <div class="form-group">
            <label for="gstin">GSTIN</label>
            <input type="text" class="form-control" id="gstin" required>
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary col-sm-11">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>

<!-- ADD Account Details Modal -->
<div id="accountDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Tax Details</h4>
      </div>
      <div class="modal-body">
        <form action="" method="" id="accountDetailsform">
          <div class="form-group">
            <label for="accountName">Account Name </label>
            <input type="text" class="form-control" id="accountName" required>
          </div>
          <div class="form-group">
            <label for="accountNumber">Account Number </label>
            <input type="number" class="form-control" id="accountNumber" required>
          </div>
          <div class="form-group">
            <label for="branchName">Branch Name</label>
            <input type="text" class="form-control" id="branchName" required>
          </div>
          <div class="form-group">
            <label for="IFSC">IFSC Code</label>
            <input type="text" class="form-control" id="IFSC" required>
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary col-sm-11">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>


<script>

$("#showEdit").click(function(){
  $("#edit1,#edit2,#edit3,#edit4,#edit5,#edit6,#edit7,#edit8,#edit9,#edit10,#edit11,#edit12").show();
});
$("#newProduct").click(function(){
   $("#pedit1,#pedit2,#pedit3,#pedit4,#pedit5,#pedit6,#pedit7").hide();
   $('input,#productDescription').prop('readonly', false);
});

$('#demoProduct').on('show.bs.modal', function(e) {
const id = $(e.relatedTarget).data('id');
const pname = $(e.relatedTarget).data('productname');
const Model = $(e.relatedTarget).data('model');
const Brand = $(e.relatedTarget).data('brand');
const Quantity = $(e.relatedTarget).data('quantity');
const Manufacturer = $(e.relatedTarget).data('manufacturer');
const productCategory = $(e.relatedTarget).data('productcategory');
const productDescription = $(e.relatedTarget).data('productdescription');
$(e.currentTarget).find('input[name="id"]').val(id);
$(e.currentTarget).find('input[name="productName"]').val(pname);
$(e.currentTarget).find('input[name="model"]').val(Model);
$(e.currentTarget).find('input[name="brand"]').val(Brand);
$(e.currentTarget).find('input[name="quantity"]').val(Quantity);
$(e.currentTarget).find('input[name="manufacturer"]').val(Manufacturer);
$(e.currentTarget).find('input[name="productCategory"]').val(productCategory);
$(e.currentTarget).find('#productDescription').val(productDescription);
  $('input[name="productName"]').prop('readonly', true);
  $('input[name="model"]').prop('readonly', true);
  $('input[name="brand"]').prop('readonly', true);
  $('input[name="quantity"]').prop('readonly', true);
  $('input[name="manufacturer"]').prop('readonly', true);
  $('input[name="productCategory"]').prop('readonly', true);
  $('#productDescription').prop('readonly', true);
});
$("#pedit1").click(function(){
 $(this).parent().find('input[name="productName"]').prop('readonly', false);
});
$("#pedit2").click(function(){
 $(this).parent().find('input[name="model"]').prop('readonly', false);
});
$("#pedit3").click(function(){
 $(this).parent().find('input[name="brand"]').prop('readonly', false);
});
$("#pedit4").click(function(){
 $(this).parent().find('input[name="quantity"]').prop('readonly', false);
});
$("#pedit5").click(function(){
 $(this).parent().find('input[name="manufacturer"]').prop('readonly', false);
});
$("#pedit6").click(function(){
 $(this).parent().find('input[name="productCategory"]').prop('readonly', false);
});
$("#pedit7").click(function(){
 $(this).parent().find('#productDescription').prop('readonly', false);
});


$("#showProductEdit").click(function(){
  $("#pedit1,#pedit2,#pedit3,#pedit4,#pedit5,#pedit6,#pedit7").show();
});





// process seller Details form
    $('#sellerDetailsform').submit(function(event) {
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                location.reload();
           }
        };
        xhttp.open("post", "/dashboard/addSellerDetails", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        const vendor ={{data.vendorId}}
        const businessLegalName = $('#businessLegalName').val();
        const shopName = $('#shopName').val();
        const sellerAddress = $('#sellerAddress').val();
        xhttp.send("vendor=" + vendor+"&businessLegalName=" + businessLegalName+"&shopName="+ shopName+"&sellerAddress="+ sellerAddress);
      event.preventDefault();
      });

      // process Tax Details form
          $('#taxDetailsform').submit(function(event) {
              const xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      location.reload();
                 }
              };
              xhttp.open("post", "/dashboard/addTaxDetails", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              const vendor ={{data.vendorId}}
              const pan = $('#pan').val();
              const vat = $('#vat').val();
              const tin = $('#tin').val();
              const gstin = $('#gstin').val();
              xhttp.send("vendor=" + vendor+"&PAN=" + pan+"&VAT="+ vat+"&TIN="+ tin+"&GSTIN="+ gstin);
            event.preventDefault();
            });

            // process Account Details form
                $('#accountDetailsform').submit(function(event) {
                    const xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            location.reload();
                       }
                    };
                    xhttp.open("post", "/dashboard/addaccountDetails", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    const vendor ={{data.vendorId}}
                    const accountName = $('#accountName').val();
                    const accountNumber = $('#accountNumber').val();
                    const branchName = $('#branchName').val();
                    const IFSC = $('#IFSC').val();
                    xhttp.send("vendor=" + vendor+"&accountName=" + accountName+"&accountNumber="+ accountNumber+"&branchName="+ branchName+"&IFSC="+ IFSC);
                  event.preventDefault();
                  });

</script>
